.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  max-width: 580px;
  padding: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding: 0 0 24px;
}

.recipes__iframe {
  margin: auto;
  width: 480px;
  height: 273px;
  margin-top: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
